<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bãi xe</title>
    <th:block th:replace="base :: styles"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>

    <main class="container">
        <h1 class="text-center text-info mt-1">QUẢN Lý NGƯỜI DÙNG</h1>
        <form th:action="@{/nguoidungs/}">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Tên người dùng..." name="hoTen">
            </div>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Tài khoản..." name="taiKhoan">
            </div>
            <div class="mb-3 mt-3 col-auto">
                <select class="form-select" name="vaiTro">
                    <option value="">-- Tất cả vai trò --</option>
                    <option value="ROLE_ADMIN" th:selected="${param.vaiTro == 'ROLE_ADMIN'}">Admin</option>
                    <option value="ROLE_USER" th:selected="${param.vaiTro == 'ROLE_USER'}">User</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>
        <hr />
        <a th:href="@{/nguoidungs/nguoidung}" class="btn btn-success mt-1">Thêm người dùng</a>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Họ tên</th>
                    <th>Tài khoản</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Vai trò</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="nd : ${nguoidungs}">
                    <td th:text="${nd.hoTen}"></td>
                    <td th:text="${nd.taiKhoan}"></td>
                    <td th:text="${nd.email}"></td>
                    <td th:text="${nd.sdt}"></td>
                    <td th:text="${nd.vaiTro}"></td>
                    <td th:text="${nd.active}"></td>
                    <td>
                        <a th:href="@{'/nguoidungs/' + ${nd.id}}" class="btn btn-primary">Sửa</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </main>

    <div th:replace="base :: footer"></div>
</body>
</html>